// Fuentes
$fuentePrincipal: 'Raleway', sans-serif;
$funteScundaria: 'Playfair Display', serif;

// Media Queries
$tablet: 768px;

//Colores
$colorPrincipal: #037bc0;
$colorSecundario: #e1e1e1;
$negro: #000000;
$blanco: #ffffff;